/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

*, /*update universal, also select psuedo-elements and before psuedo elements*/
*::after, /*if there are rem/pixels it wouldnt be put in our global reset*/
*::before {
  margin: 0; /*margin and padding not applied auto in browsers */
  padding: 0;
  box-sizing: inherit; /*use power of INHERITANCE add this and move border-box to body*/
}


html {
  font-size: 62.5%; /*ROOT FONT SIZE changed from 10px-- most pixel padding-- divide what we want 10px / 16 is 62.5% */
/*bad practice to have pixels. Shouldnt really be 10px but problem is that we override the browser font size setting that the user can manually change in settings. ex: bad site the increase the default of browsers. If we keep pixels we remove ability for them to see properly . So font size will be percentage*/
}

body {
  font-family: "Lato", sans-serif; /*see html googlefont*/
  font-weight: 400;
  font-size: 1.6rem; /*originally started as pixels explained in Section 3.18*/
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; /*change box model so borders and padding are no longer added to total width or height we specify for height*/
  background-image: linear-gradient(to right bottom, rgba(71,6,52,.8),rgba(71,6,52, 0.8)), url(../img/hssbg1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
    height: 95vh;
    background-size: cover;
    background-position: top;
    position: relative;
/*top left, top right, bottom right, bottom left*/
}

.header__logo-box {
  position: absolute; /**/
  top: 4rem; /*parent element(header) which has its position set to relative */
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-container {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 70%;
  opacity: 1;
  text-align: center;
  background-color: #d3d3d3;

}
.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden; /*when animations are shaky- this determines if backpart is visible or hidden*/
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block; /*block-level elements occcupy entire width available and line breaks after and before*/
  font-size: 1rem; /**/
  font-weight: 400; /*default h1 has a higher font weight*/
  letter-spacing: 1.5rem; /**/

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  position: absolute;
  top: -250%;
  left: -42%;

}

.heading-primary--sub {
  color: #000000;
  display: block;
  font-size: 2rem; /**/
  font-weight: 700; /*look at google font.html to see weight*/
  letter-spacing: 1.75rem; /**/
  animation: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  opacity: 1;
  position: absolute;
  top: 5%;
  left: 18%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0; /*browser preformance its best to only animate transform and opacity*/
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0); /*it's going to look the way it starts*/
  }
}

/*psuedo-class special state of selector- we style elements under a special condition*/
@keyframes moveInRight {
  0% {
    opacity: 0; /*browser preformance its best to only animate transform and opacity*/
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0); /*it's going to look the way it starts*/
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0; /*browser preformance its best to only animate transform and opacity*/
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0); /*it's going to look the way it starts*/
  }
}

.shape-container {
  height: 50px;
  width: 450px;
  border-radius: 80px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;

}
.shape {
  height: 50px;
  width: 350px;
  background-color: #a9a9a9;
  border-radius: 5px;
  margin-bottom: 5px;
  float: left;

  margin-right: 20px;
  border: 1px solid black;
  z-index: 99999 !important;
}

.shape1 {
  position: absolute;
  top: 22%;
  left: 10%;
}
.shape2 {
  position: absolute;
  top: 42%;
  left: 10%;
}
.shape3 {
  position: absolute;
  left: 10%;
  top: 62%;
}
.shape4 {
  position: absolute;
  top: 82%;
  left: 10%;
}




.shape5 {
  position: absolute;
  top: 22%;
  left: 55%;
}
.shape6 {
  position: absolute;
  top: 42%;
  left: 55%;
}
.shape7 {
  position: absolute;
  top: 62%;
  left: 55%;
}
.shape8 {
  position: absolute;
  top: 82%;
  left: 55%;
}













}
